RewriteEngine On
RewriteBase /DiGITAL/

# Redirigir todo lo que no sea un archivo o directorio existente a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]