body {
    background-color: rgb(237, 237, 237);
}

.main-container {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    width: 80%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.filter-section {
    width: 100%;
    margin: 50px;
    text-align: left;
    padding-top: 20px;
}

.kardex-section {
    display: block;
    justify-content: center;
    margin: 20px;
    height: 800px;

}

/* .kardex-section h4 {
    display: block;
} */

.kardex-section table {
    width: 100%;
}

.kardex-section th,
.kardex-section td {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kardex-section th {
    background-color: rgb(3, 152, 3);
    color: white;

}

.kardex-section tr:nth-child(odd) {
    background-color: hsl(0, 0%, 100%);
}

.kardex-section tr:nth-child(even) {
    background-color: hsl(0, 0%, 93%);
}

.filter-option {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    margin-right: 10px;
    border-radius: 20px;
}

select,
input[type="date"] {
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
    width: 130px;
    background-color: #f1f1f1;
}

input[type="submit"] {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    padding: 0;
    background-color: var(--primary-color);
    color: white;
    border: none
}