/* body {
    display: block;
    margin: auto;
} */

:root {
    --font-input: 16px;
    --font-header: 20px;
}

body {
    background-color: rgb(236, 236, 236);
}

.main-container {
    display: flex;
    width: 75%;
    margin: auto;
    height: 100%;

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 10px;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */

}

.upload-course-form {
    display: flex;
    width: 100%;
}

.right-side {
    margin-left: 40px;
    width: 40%;
    text-align: center;
    height: 100%;

    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); */

}

.right-side-up,
.right-side-down {
    padding-top: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

}


.right-side-up {
    height: 800px;
    width: 100%;
    align-items: center;
}

.right-side-down {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    align-content: end;

}


.left-side {
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}


/* .upload-image label {
    display: inline-block;
} */

input[type="file"] {
    display: none;


}

.price-options {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 40px;
    cursor: pointer;
}

.price-options-none {
    display: none;
}

.upload-image {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.upload-certificate-label {
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.upload-certificate-label:hover {
    background-color: var(--hover1-color);
}

.upload-content-btn {
    margin: auto;
}

.input-title {
    width: 600px;
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    padding-left: 20px;

    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f1f1f1;
    margin-right: 50px;
}

.add-levels {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

h4 {
    font-size: var(--font-header);
    display: inline;
}

#icon {
    margin-left: 10px;
}

.level input[type="text"] {
    /* font-size: var(--font-input);
    width: 450px;
    height: 50px;
    background-color: white;
    border: var(--input-border); */
    width: 80%;
    height: 40px;
    margin-right: 0;
}

/* .level input[type="text"]::placeholder {
    color: var(--header-font);
} */


.level h6 {
    font-size: 12px;
}

.level label,
.level input {
    width: 20px;
}

.precio {
    display: flex;
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    font-size: var(--font-input);
    padding-left: 0px;
    margin-right: 70px;
    text-align: center;
    align-items: center;
}

.div-price {
    display: flex;
    align-items: center;
}

.precio2 {
    width: 150px;
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    font-size: var(--font-input);
    padding-left: 20px;
}

textarea {
    resize: none;
}

.content-element {
    width: 50%;
    border-bottom: solid 1px;
}

.content-element a {
    text-decoration: none;
    color: black;
}

.content-element a:hover {
    text-decoration: line-through;
    color: red;
}

.content-element h6 {
    margin: 10px;
}

.level {
    margin-bottom: 30px;
}

.level li {
    width: 100%;
}

span {
    cursor: pointer;
}



input[type="submit"] {
    height: 50px;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-color: white;
}

input[type="submit"]:hover {
    background-color: var(--hover1-color);
    border-color: white;
}

.main-title {
    padding-left: 20px;
}



/* Note that you only needs to edit the config to customize the button! */

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent #0d6efd transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: rgb(255, 255, 255);
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}

/*end*/

/* From Uiverse.io by csemszepp */
.custum-file-upload {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #000000;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    color: black;
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.custum-file-upload .icon svg {
    height: 80px;
    fill: #000000;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: #000000;
}

.custum-file-upload input {
    display: none;
}

/*PopUp window*/
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffffff;
    width: 450px;
    height: 290px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.upload-file {
    width: 70%;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    text-align: center;
    margin: auto;
    padding: 8px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    background-color: #d7d7d7;
}

.upload-file:hover {
    background-color: #b6b6b6;

}


.upload-url {
    width: 70%;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    text-align: left;
    margin: auto;
    padding: 8px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    background-color: #d7d7d7;
    margin-top: 10px;

}

.upload-url input {
    width: 70%;
}

.select-category {
    width: 50%;
    height: 200px;
}

.item {
    height: 80px;
    background-color: rgb(244, 244, 244);
    border: solid var(--primary-color) 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}